.user-profile-container.user-edit-container
  =render "layouts/flash_messages"
  .user-profile
    %h1.profile-heading
      %span.blue-color
        Edit
      #{@user.username}'s
      %span.blue-color
        profile
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" , :multipart => true}) do |f|
      .user-profile-main.user-edit-main
        .user-profile-image-box.user-edit-profile-image-box
          =image_tag @user.avatar.url.to_s, class: "user-profile-image edit-image" #this is for testing only and its on S3.
          .change-photo-box
            / %a.change-photo
            /   Change Photo
            =f.file_field :avatar, id: "change-photo-file-field"
        .user-profile-desc.user-edit-profile-desc.clearfix
          .user-full-name.clearfix.clearfix
            .full-name
              Full Name
            .full-name-field
              / =truncate(@user.full_name, length: 25, omission: "..")
              =f.text_field :full_name, class: "input-xlarge"
          .user-gender.clearfix
            .gender
              Gender
            .gender-field
              /=f.text_field :gender, class: "input-xlarge"
              / =f.collection_select(resource, :gender, ["male","female"], prompt: true), class: "input-xlarge"
              =f.select(:gender, User::GENDER, prompt: "-- Please Select --")
          .user-age.clearfix
            .age
              Age
            .age-field
              =f.text_field :age, class: "input-xlarge"
          .user-current-loc.clearfix
            .current-loc
              Current Location
            .current-loc-field
              =f.text_field :current_loc, class: "input-xlarge"
          .user-desc.clearfix
            .desc
              Description
            .desc-field
              /=truncate(@user.desc, length: 350, omission: "...")
              =f.text_area(:desc, cols: 10, rows: 15, class: "input-xlarge")
          .update-profile-actions
            = f.submit "Update", class: "btn btn-primary btn-large"
            = link_to 'Cancel', user_path( current_user ), class: "btn btn-large btn-default cancel-edit-profile"
/=image_tag @user.avatar.url.to_s, class: "profile-image" #this is for testing only and its on S3.
