.li-meta-box
  .li-meta-header
    %span.li-blue-color
      f
    %span.li-blue-color-text
      =@library_item.name
  .li-type-box
    .dull-color
      TYPE
    .li-type
      =@library_item.item_type
  .li-desc-box
    .dull-color
      DESCRIPTION
    .li-desc
      =@library_item.description