.page
  .admin-box.clearfix
    .count-box
      Users
      %span.count-text
        =@users.size
    .count-box
      Places
      %span.count-text
        =@places.size
    .count-box
      Trips
      %span.count-text
        =@trips.size
    .count-box
      Library Items
      %span.count-text
        =@library_items.size
    .count-box
      Special Emails
      %span.count-text
        =@special_emails.size