.sign-in-box {
  width: 46%;
  padding: 2%;
  margin-top: 8%;
  margin-left: 23%;
  color: whitesmoke;
  border-radius: 10px;
  background-color: rgba(46, 43, 43, 0.71);
  @include box-shadow(0px, 0px, 10px, 2px, rgb(32,32,32));

  .remember-me {

    margin-left: 30%;

    .checkbox,
    .checkbox-label {
      float: left;
    }

    .remember-me-label {
      width: 100px;
      padding-left: 5%;
    }
  }

  .sign-in-submit {
    margin-left: 30%; 
  }

  .devise-links {
    margin-left: 30%;
  }
}