!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %title RoadMojo
    =stylesheet_link_tag "landing_page", media: "all"
    =csrf_meta_tags
    =favicon_link_tag "favicon.png"
    =render "layouts/shim"
  %body
    #topnavbg
      #topnavcontainer-landing
        =render "layouts/flash_messages"
        =render 'layouts/header'
    =yield
    
    =javascript_include_tag "landing_page"
    =javascript_include_tag :defaults
    =javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36750246-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();